@keyframes ldio-gi0nsccnxu {
    0% { transform: rotate(0) }
    100% { transform: rotate(360deg) }
}
.ldio-gi0nsccnxu div { box-sizing: border-box!important }
.ldio-gi0nsccnxu > div {
    position: absolute;
    width: 104px;
    height: 104px;
    top: 48px;
    left: 48px;
    border-radius: 50%;
    border: 16px solid #000;
    border-color: #07abcc transparent #07abcc transparent;
    animation: ldio-gi0nsccnxu 1s linear infinite;
}

.ldio-gi0nsccnxu > div:nth-child(2), .ldio-gi0nsccnxu > div:nth-child(4) {
    width: 68px;
    height: 68px;
    top: 66px;
    left: 66px;
    animation: ldio-gi0nsccnxu 1s linear infinite reverse;
}
.ldio-gi0nsccnxu > div:nth-child(2) {
    border-color: transparent #e4934b transparent #e4934b
}
.ldio-gi0nsccnxu > div:nth-child(3) { border-color: transparent }
.ldio-gi0nsccnxu > div:nth-child(3) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}
.ldio-gi0nsccnxu > div:nth-child(3) div:before, .ldio-gi0nsccnxu > div:nth-child(3) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: -16px;
    left: 28px;
    background: #07abcc;
    border-radius: 50%;
    box-shadow: 0 88px 0 0 #07abcc;
}
.ldio-gi0nsccnxu > div:nth-child(3) div:after {
    left: -16px;
    top: 28px;
    box-shadow: 88px 0 0 0 #07abcc;
}

.ldio-gi0nsccnxu > div:nth-child(4) { border-color: transparent; }
.ldio-gi0nsccnxu > div:nth-child(4) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}
.ldio-gi0nsccnxu > div:nth-child(4) div:before, .ldio-gi0nsccnxu > div:nth-child(4) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: -16px;
    left: 10px;
    background: #e4934b;
    border-radius: 50%;
    box-shadow: 0 52px 0 0 #e4934b;
}
.ldio-gi0nsccnxu > div:nth-child(4) div:after {
    left: -16px;
    top: 10px;
    box-shadow: 52px 0 0 0 #e4934b;
}
.loadingio-spinner-double-ring-go0wt0ojb0d {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: #444;
}
.ldio-gi0nsccnxu {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldio-gi0nsccnxu div { box-sizing: content-box; }